@import "../../_globalColor";

#topButton {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $buttonColor;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  &[style*="opacity: 1"] {
    opacity: 1 !important;
    pointer-events: auto;
  }

  &:hover {
    background-color: $topButtonHover;
    transform: translateY(-5px);
  }
}