@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.software-skill-inline>i,
.software-skill-inline>span {
  color: $subTitle;
  transition: all 0.2s ease-in-out;
}

.software-skill-inline:hover>i,
.software-skill-inline:hover>span {
  color: $skillsColor;
}

.software-skill-inline>p {
  color: $subTitle;
  font-size: 10px;
  margin-top: 5px;
}

.software-skill-inline:hover>p {
  color: $skillsColor;
}